<mat-card class="table-head">
  <mat-card-title> {{PageTitle}}</mat-card-title>
</mat-card>

<div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By">
      </mat-form-field>
    </div>

<mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
            <button mat-raised-button color="primary" (click)=Show_Image()>{{showImage? 'Hide':'Show'}} Image</button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"><img src={{element.imageUrl}} width=50 height=50 *ngIf=showImage/> </mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="productId">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.productId}} </mat-cell>
    </ng-container>

   
    <ng-container matColumnDef="productName">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> <a [routerLink]="['/product',element.productId]">{{element.productName}} </a></mat-cell>
    </ng-container>

    
    
    <ng-container matColumnDef="productCode">
      <mat-header-cell *matHeaderCellDef> code </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.productCode| lowercase}} </mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price| currency}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="starRating">
        <mat-header-cell *matHeaderCellDef> 5 star rating  </mat-header-cell>
        <mat-cell *matCellDef="let element"> <app-star [ratings]='element.starRating'></app-star> </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
